@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main-container-input {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position:fixed;
    top: 100px;
    width: 30%;
}

.input {
    background-color: #0B2545;
    border: none;
    color: white;
    width: 70%;
    height: 50px;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: large;
    letter-spacing: 2px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.411);
}

.input::placeholder {
    color: white;
}

.button {
    background-color: #8DA9C4;
    border: none;
    font-family: 'Bebas Neue';
    color: white;
    width: 50px;
    letter-spacing: 2px;
    cursor: pointer;
}